@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.header-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 20px;
}
.header-details {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.header-btn {
    width: 170px;
  height: 40px;
    background-color: #12c6cc;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .header-btn:hover {
    background-color: #10a198;
    transform: scale(1.1);
  }

.header-btn a {
  text-decoration: none;
  color: rgb(12, 12, 12);
}
/* section one starts here */
.section-one-header {
  width: 1320px;
  background: rgb(219, 214, 214);
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  border-radius: 25px;
}
.section-one-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-one-details {
  width: 50%;
  text-wrap: wrap;
}
.section-one-title-one {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: start;
  border: 2px solid red;
}
.section-one-btn {
  width: 150px;
  height: 50px;
  background-color: #12c6cc;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-one-btn:hover {
  background-color: #10a198;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.section-image {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
/* section one ends here */
.video-section {
  width: 1320px;
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.video-section h1,
p {
  margin-bottom: 50px;
}
.section-three {
  width: 1320px;
  height: 500px;
  margin: 0 auto;
}
.section-three-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-three-container {
  display: flex;

  justify-content: center;
}
.section-three-container-card {
  width: 33.33%;
  height: 300px;
  margin: 20px;
  border-radius: 25px;
  padding: 30px;
  justify-content: center;
  background: rgb(219, 214, 214);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.section-three-container-card a {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.section-three-container-card:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2), 0 8px 30px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}
.footer {
  width: 1320px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/handshake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fafafa;
}
.input-field-container {
  padding: 20px;
}
.input-field {
  width: 400px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px;
}
.input-field-btn {
    width: 150px;
    height: 40px;
    background-color: #12c6cc;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-section {
  width: 1320px;
  margin: 0 auto;
  display: flex;

  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.social-section-text {
  margin-top: 40px;
}
